In [193]:
import pandas as pd

In [194]:
import numpy as np

In [195]:
df = pd.read_csv("C:/Users/Valued Customer/Desktop/SEDM-II/SEDM/iPython/SEDM-Manual-Data1.csv")

In [196]:
#http://stackoverflow.com/questions/30244952/python-pandas-create-new-column-with-groupby-sum
#DBA = pd.DataFrame({'Date': ['2015-05-08', '2015-05-07', '2015-05-06', '2015-05-05', '2015-05-08', '2015-05-07', '2015-05-06', '2015-05-05'], 'Sym': ['aapl', 'aapl', 'aapl', 'aapl', 'aaww', 'aaww', 'aaww', 'aaww'], 'Data2': [11, 8, 10, 15, 110, 60, 100, 40],'Data3': [5, 8, 6, 1, 50, 100, 60, 120]})
#DBA['Data4'] = DBA['Data3'].groupby(df['Date']).transform('sum')
df['All'] = df['Event_C'].groupby(df['Event_B']).transform('sum')
#df['All'] = [df['Event_A'],df['Event_B']].groupby([df['Event_C'], df['Event_D']).transform('sum')

In [197]:
df

     Event_A Event_B Event_C Event_D     All
0      False   False   False    True  3546.0
1      False    True    True    True  1459.0
2      False   False    True    True  3546.0
3      False    True   False    True  1459.0
4      False    True    True   False  1459.0
5      False   False    True   False  3546.0
6      False   False    True    True  3546.0
7      False   False   False    True  3546.0
8      False    True    True    True  1459.0
9      False   False   False    True  3546.0
10     False   False   False    True  3546.0
11     False   False    True    True  3546.0
12     False    True   False    True  1459.0
13     False    True   False    True  1459.0
14     False   False   False    True  3546.0
15     False   False   False   False  3546.0
16     False   False   False    True  3546.0
17     False   False    True    True  3546.0
18     False    True   False    True  1459.0
19     False   False    True   False  3546.0
20     False   False    True    True  3546.0
21     False   False    True   False  3546.0
22     False   False   False    True  3546.0
23     False    True   False   False  1459.0
24     False   False    True   False  3546.0
25     False   False   False    True  3546.0
26     False   False    True    True  3546.0
27     False   False   False    True  3546.0
28     False   False   False    True  3546.0
29      True    True    True    True  1459.0
...      ...     ...     ...     ...     ...
9970   False    True    True    True  1459.0
9971   False   False    True    True  3546.0
9972   False   False    True    True  3546.0
9973   False    True   False   False  1459.0
9974   False   False    True    True  3546.0
9975   False    True    True    True  1459.0
9976   False    True   False    True  1459.0
9977   False    True    True    True  1459.0
9978   False   False   False   False  3546.0
9979   False   False    True    True  3546.0
9980   False   False   False    True  3546.0
9981   False    True    True   False  1459.0
9982   False    True   False    True  1459.0
9983   False   False   False   False  3546.0
9984   False   False   False    True  3546.0
9985   False    True   False    True  1459.0
9986   False   False    True    True  3546.0
9987    True   False    True    True  3546.0
9988   False   False    True    True  3546.0
9989   False   False    True    True  3546.0
9990   False    True   False   False  1459.0
9991   False   False    True    True  3546.0
9992   False    True    True    True  1459.0
9993   False    True    True    True  1459.0
9994   False   False    True    True  3546.0
9995   False   False   False    True  3546.0
9996   False    True   False    True  1459.0
9997   False   False   False    True  3546.0
9998    True   False    True    True  3546.0
9999   False   False    True   False  3546.0

[10000 rows x 5 columns]

In [198]:
PBA = df['Event_A'].groupby([df['Event_A']]).count()

In [199]:
PBA

Event_A
False    8977
True     1023
Name: Event_A, dtype: int64

In [200]:
PBA = df['Event_A'].groupby([df['Event_B'], df['Event_C']]).count()

In [201]:
PBA.unstack()

Event_C  False  True
Event_B
False     3425   3546
True      1570   1459

In [202]:
SEDM_CB = pd.crosstab([df.Event_B], df.Event_C, margins=True)

In [203]:
SEDM_CB

Event_C  False  True    All
Event_B
False     3425  3546   6971
True      1570  1459   3029
All       4995  5005  10000

In [204]:
SEDM_CA = pd.crosstab([df.Event_A], df.Event_C, margins=True)

In [205]:
SEDM_CA

Event_C  False  True    All
Event_A
False     4458  4519   8977
True       537   486   1023
All       4995  5005  10000

In [206]:
SEDM_DCBA = pd.crosstab([df.Event_B, df.Event_C], df.Event_D, margins=True)

In [207]:
PBA.unstack

<bound method Series.unstack of Event_B  Event_C
False    False      3425
         True       3546
True     False      1570
         True       1459
Name: Event_A, dtype: int64>

In [208]:
df

     Event_A Event_B Event_C Event_D     All
0      False   False   False    True  3546.0
1      False    True    True    True  1459.0
2      False   False    True    True  3546.0
3      False    True   False    True  1459.0
4      False    True    True   False  1459.0
5      False   False    True   False  3546.0
6      False   False    True    True  3546.0
7      False   False   False    True  3546.0
8      False    True    True    True  1459.0
9      False   False   False    True  3546.0
10     False   False   False    True  3546.0
11     False   False    True    True  3546.0
12     False    True   False    True  1459.0
13     False    True   False    True  1459.0
14     False   False   False    True  3546.0
15     False   False   False   False  3546.0
16     False   False   False    True  3546.0
17     False   False    True    True  3546.0
18     False    True   False    True  1459.0
19     False   False    True   False  3546.0
20     False   False    True    True  3546.0
21     False   False    True   False  3546.0
22     False   False   False    True  3546.0
23     False    True   False   False  1459.0
24     False   False    True   False  3546.0
25     False   False   False    True  3546.0
26     False   False    True    True  3546.0
27     False   False   False    True  3546.0
28     False   False   False    True  3546.0
29      True    True    True    True  1459.0
...      ...     ...     ...     ...     ...
9970   False    True    True    True  1459.0
9971   False   False    True    True  3546.0
9972   False   False    True    True  3546.0
9973   False    True   False   False  1459.0
9974   False   False    True    True  3546.0
9975   False    True    True    True  1459.0
9976   False    True   False    True  1459.0
9977   False    True    True    True  1459.0
9978   False   False   False   False  3546.0
9979   False   False    True    True  3546.0
9980   False   False   False    True  3546.0
9981   False    True    True   False  1459.0
9982   False    True   False    True  1459.0
9983   False   False   False   False  3546.0
9984   False   False   False    True  3546.0
9985   False    True   False    True  1459.0
9986   False   False    True    True  3546.0
9987    True   False    True    True  3546.0
9988   False   False    True    True  3546.0
9989   False   False    True    True  3546.0
9990   False    True   False   False  1459.0
9991   False   False    True    True  3546.0
9992   False    True    True    True  1459.0
9993   False    True    True    True  1459.0
9994   False   False    True    True  3546.0
9995   False   False   False    True  3546.0
9996   False    True   False    True  1459.0
9997   False   False   False    True  3546.0
9998    True   False    True    True  3546.0
9999   False   False    True   False  3546.0

[10000 rows x 5 columns]

In [209]:
PBAUS=PBA.unstack()

In [210]:
PBAUS

Event_C  False  True
Event_B
False     3425   3546
True      1570   1459

In [211]:
def percConvert(ser):
  return ser/float(ser[1])

In [212]:
PBAUS.apply(percConvert, axis=1)

Event_C     False  True
Event_B
False    0.965877    1.0
True     1.076080    1.0

In [213]:
PBA = df['Event_A'].groupby([df['Event_A'], df['Event_B']]).count()

In [214]:
SEDM_2x2 = df

In [215]:
data = {'name': [1, 2, 3], 
        'year': [20, 21, 23], 
        'reports': [4, 24, 31],
        'Total': [25, 94, 53]}
df = pd.DataFrame(data, index = ['T1', 'T2', 'T3'])
df

    Total  name  reports  year
T1     25     1        4    20
T2     94     2       24    21
T3     53     3       31    23

In [216]:
SEDM_2x2/SEDM_2x2.sum()

       Event_A  Event_B  Event_C  Event_D       All
0     0.000000  0.00000   0.0000  0.00014  0.000122
1     0.000000  0.00033   0.0002  0.00014  0.000050
2     0.000000  0.00000   0.0002  0.00014  0.000122
3     0.000000  0.00033   0.0000  0.00014  0.000050
4     0.000000  0.00033   0.0002  0.00000  0.000050
5     0.000000  0.00000   0.0002  0.00000  0.000122
6     0.000000  0.00000   0.0002  0.00014  0.000122
7     0.000000  0.00000   0.0000  0.00014  0.000122
8     0.000000  0.00033   0.0002  0.00014  0.000050
9     0.000000  0.00000   0.0000  0.00014  0.000122
10    0.000000  0.00000   0.0000  0.00014  0.000122
11    0.000000  0.00000   0.0002  0.00014  0.000122
12    0.000000  0.00033   0.0000  0.00014  0.000050
13    0.000000  0.00033   0.0000  0.00014  0.000050
14    0.000000  0.00000   0.0000  0.00014  0.000122
15    0.000000  0.00000   0.0000  0.00000  0.000122
16    0.000000  0.00000   0.0000  0.00014  0.000122
17    0.000000  0.00000   0.0002  0.00014  0.000122
18    0.000000  0.00033   0.0000  0.00014  0.000050
19    0.000000  0.00000   0.0002  0.00000  0.000122
20    0.000000  0.00000   0.0002  0.00014  0.000122
21    0.000000  0.00000   0.0002  0.00000  0.000122
22    0.000000  0.00000   0.0000  0.00014  0.000122
23    0.000000  0.00033   0.0000  0.00000  0.000050
24    0.000000  0.00000   0.0002  0.00000  0.000122
25    0.000000  0.00000   0.0000  0.00014  0.000122
26    0.000000  0.00000   0.0002  0.00014  0.000122
27    0.000000  0.00000   0.0000  0.00014  0.000122
28    0.000000  0.00000   0.0000  0.00014  0.000122
29    0.000978  0.00033   0.0002  0.00014  0.000050
...        ...      ...      ...      ...       ...
9970  0.000000  0.00033   0.0002  0.00014  0.000050
9971  0.000000  0.00000   0.0002  0.00014  0.000122
9972  0.000000  0.00000   0.0002  0.00014  0.000122
9973  0.000000  0.00033   0.0000  0.00000  0.000050
9974  0.000000  0.00000   0.0002  0.00014  0.000122
9975  0.000000  0.00033   0.0002  0.00014  0.000050
9976  0.000000  0.00033   0.0000  0.00014  0.000050
9977  0.000000  0.00033   0.0002  0.00014  0.000050
9978  0.000000  0.00000   0.0000  0.00000  0.000122
9979  0.000000  0.00000   0.0002  0.00014  0.000122
9980  0.000000  0.00000   0.0000  0.00014  0.000122
9981  0.000000  0.00033   0.0002  0.00000  0.000050
9982  0.000000  0.00033   0.0000  0.00014  0.000050
9983  0.000000  0.00000   0.0000  0.00000  0.000122
9984  0.000000  0.00000   0.0000  0.00014  0.000122
9985  0.000000  0.00033   0.0000  0.00014  0.000050
9986  0.000000  0.00000   0.0002  0.00014  0.000122
9987  0.000978  0.00000   0.0002  0.00014  0.000122
9988  0.000000  0.00000   0.0002  0.00014  0.000122
9989  0.000000  0.00000   0.0002  0.00014  0.000122
9990  0.000000  0.00033   0.0000  0.00000  0.000050
9991  0.000000  0.00000   0.0002  0.00014  0.000122
9992  0.000000  0.00033   0.0002  0.00014  0.000050
9993  0.000000  0.00033   0.0002  0.00014  0.000050
9994  0.000000  0.00000   0.0002  0.00014  0.000122
9995  0.000000  0.00000   0.0000  0.00014  0.000122
9996  0.000000  0.00033   0.0000  0.00014  0.000050
9997  0.000000  0.00000   0.0000  0.00014  0.000122
9998  0.000978  0.00000   0.0002  0.00014  0.000122
9999  0.000000  0.00000   0.0002  0.00000  0.000122

[10000 rows x 5 columns]

In [217]:
grouped = df['Event_A'].groupby(df['Event_B'])

KeyError: 'Event_A'

In [218]:
grouped

NameError: name 'grouped' is not defined

In [219]:
grouped.mean()

NameError: name 'grouped' is not defined

In [220]:
 sum = df['Event_A'].groupby([df['Event_A'], df['Event_B']]).count()

KeyError: 'Event_A'

In [221]:
df.groupby('Event_A').sum()

KeyError: 'Event_A'

In [222]:
sum

In [223]:
sum.unstack()

AttributeError: 'builtin_function_or_method' object has no attribute 'unstack'

In [224]:
 sum = df['Event_A'].groupby([df['Event_A']]).sum()

KeyError: 'Event_A'

In [225]:
DBA

NameError: name 'DBA' is not defined

In [226]:
df = pd.DataFrame({'Date': ['2015-05-08', '2015-05-07', '2015-05-06', '2015-05-05', '2015-05-08', '2015-05-07', '2015-05-06', '2015-05-05'], 'Sym': ['aapl', 'aapl', 'aapl', 'aapl', 'aaww', 'aaww', 'aaww', 'aaww'], 'Data2': [11, 8, 10, 15, 110, 60, 100, 40],'Data3': [5, 8, 6, 1, 50, 100, 60, 120]})

In [227]:
df

   Data2  Data3        Date   Sym
0     11      5  2015-05-08  aapl
1      8      8  2015-05-07  aapl
2     10      6  2015-05-06  aapl
3     15      1  2015-05-05  aapl
4    110     50  2015-05-08  aaww
5     60    100  2015-05-07  aaww
6    100     60  2015-05-06  aaww
7     40    120  2015-05-05  aaww

In [228]:
df['Data4'] = df['Data3'].groupby(df['Date']).transform('sum')

In [229]:
df

   Data2  Data3        Date   Sym  Data4
0     11      5  2015-05-08  aapl     55
1      8      8  2015-05-07  aapl    108
2     10      6  2015-05-06  aapl     66
3     15      1  2015-05-05  aapl    121
4    110     50  2015-05-08  aaww     55
5     60    100  2015-05-07  aaww    108
6    100     60  2015-05-06  aaww     66
7     40    120  2015-05-05  aaww    121

In [230]:
SEDM_CBA= pd.crosstab([df.Event_A, df.Event_B], df.Event_C, margins=True)

AttributeError: 'DataFrame' object has no attribute 'Event_A'

In [231]:
SEDM_CBA

NameError: name 'SEDM_CBA' is not defined

In [369]:
grouped = df.groupby('Event_A')

In [370]:
grouped

In [378]:
SEDM_CBA = df.groupby('Event_A')

In [379]:
SEDM_CBA

# import pandas as pd
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")

In [1]:
import pandas as pd
df1=pd.read_csv("http://pythonhow.com/wp-content/uploads/2016/01/Income_data.csv")

In [2]:
df1

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [3]:
df2=df1.set_index("State")

In [4]:
df2

,GEOID,2005,2006,2007,2008,2009,2010,2011,2012,2013
State,,,,,,,,,,
Alabama,04000US01,37150,37952,42212,44476,39980,40933,42590,43464,41381
Alaska,04000US02,55891,56418,62993,63989,61604,57848,57431,63648,61137
Arizona,04000US04,45245,46657,47215,46914,45739,46896,48621,47044,50602
Arkansas,04000US05,36658,37057,40795,39586,36538,38587,41302,39018,39919
California,04000US06,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [5]:
df2.loc["Alaska":"Arkansas","2005":"2007"]

           2005   2006   2007
State
Alaska    55891  56418  62993
Arizona   45245  46657  47215
Arkansas  36658  37057  40795

In [6]:
df2.loc[: , "2005"]

State
Alabama       37150
Alaska        55891
Arizona       45245
Arkansas      36658
California    51755
Name: 2005, dtype: int64

In [7]:
df2.loc["California", : ]

GEOID    04000US06
2005         51755
2006         55319
2007         55734
2008         57014
2009         56134
2010         54283
2011         53367
2012         57020
2013         57528
Name: California, dtype: object

In [8]:
df2.loc["California","2013"]

57528

In [9]:
df2.loc[:,"2005"].mean()

45339.8

##Position based indexing
Now, sometimes, you don’t have row or column labels. In such case you will have to rely on position based indexing which is implemented with iloc instead of loc:

In [10]:
df2.iloc[0:3,0:4]

             GEOID   2005   2006   2007
State
Alabama  04000US01  37150  37952  42212
Alaska   04000US02  55891  56418  62993
Arizona  04000US04  45245  46657  47215

In [11]:
df2.iloc[0:3,0:4]

             GEOID   2005   2006   2007
State
Alabama  04000US01  37150  37952  42212
Alaska   04000US02  55891  56418  62993
Arizona  04000US04  45245  46657  47215

In [12]:
df2.ix[0:3,"2005":"2007"]

          2005   2006   2007
State
Alabama  37150  37952  42212
Alaska   55891  56418  62993
Arizona  45245  46657  47215

## http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [18]:
dates = pd.date_range('1/1/2000', periods=8)

In [19]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])

In [20]:
df

                   A         B         C         D
2000-01-01  0.797301 -1.571426  1.319039  0.848788
2000-01-02  0.401077 -1.808473 -0.693491 -1.815877
2000-01-03  0.793757  0.560986 -2.020554 -0.361142
2000-01-04 -0.675643  0.136597 -2.333492 -1.101483
2000-01-05  0.066774  0.968182 -1.500449  1.821056
2000-01-06 -0.048577  0.077702  0.414210  1.797009
2000-01-07 -0.865238 -1.769961 -0.240632 -0.695203
2000-01-08 -0.444240 -0.837295  0.147336 -0.460800

In [21]:
panel = pd.Panel({'one' : df, 'two' : df - df.mean()})

In [22]:
panel

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 8 (major_axis) x 4 (minor_axis)
Items axis: one to two
Major_axis axis: 2000-01-01 00:00:00 to 2000-01-08 00:00:00
Minor_axis axis: A to D

In [23]:
s = df['A']

In [24]:
s

2000-01-01    0.797301
2000-01-02    0.401077
2000-01-03    0.793757
2000-01-04   -0.675643
2000-01-05    0.066774
2000-01-06   -0.048577
2000-01-07   -0.865238
2000-01-08   -0.444240
Freq: D, Name: A, dtype: float64

In [25]:
s[dates[5]]

-0.048577065042505745

In [26]:
df

                   A         B         C         D
2000-01-01  0.797301 -1.571426  1.319039  0.848788
2000-01-02  0.401077 -1.808473 -0.693491 -1.815877
2000-01-03  0.793757  0.560986 -2.020554 -0.361142
2000-01-04 -0.675643  0.136597 -2.333492 -1.101483
2000-01-05  0.066774  0.968182 -1.500449  1.821056
2000-01-06 -0.048577  0.077702  0.414210  1.797009
2000-01-07 -0.865238 -1.769961 -0.240632 -0.695203
2000-01-08 -0.444240 -0.837295  0.147336 -0.460800

In [29]:
#You can pass a list of columns to [] to select columns in that order. If a column is not contained in the DataFrame, an exception will be raised. Multiple columns can also be set in this manner:
df[['B', 'A']] = df[['A', 'B']]

In [30]:
df

                   A         B         C         D
2000-01-01  0.797301 -1.571426  1.319039  0.848788
2000-01-02  0.401077 -1.808473 -0.693491 -1.815877
2000-01-03  0.793757  0.560986 -2.020554 -0.361142
2000-01-04 -0.675643  0.136597 -2.333492 -1.101483
2000-01-05  0.066774  0.968182 -1.500449  1.821056
2000-01-06 -0.048577  0.077702  0.414210  1.797009
2000-01-07 -0.865238 -1.769961 -0.240632 -0.695203
2000-01-08 -0.444240 -0.837295  0.147336 -0.460800

# You may find this useful for applying a transform (in-place) to a subset of the columns.

In [31]:
df[['A', 'B']]

                   A         B
2000-01-01  0.797301 -1.571426
2000-01-02  0.401077 -1.808473
2000-01-03  0.793757  0.560986
2000-01-04 -0.675643  0.136597
2000-01-05  0.066774  0.968182
2000-01-06 -0.048577  0.077702
2000-01-07 -0.865238 -1.769961
2000-01-08 -0.444240 -0.837295

In [32]:
df.loc[:,['B', 'A']] = df[['A', 'B']]

In [33]:
df[['A', 'B']]

                   A         B
2000-01-01  0.797301 -1.571426
2000-01-02  0.401077 -1.808473
2000-01-03  0.793757  0.560986
2000-01-04 -0.675643  0.136597
2000-01-05  0.066774  0.968182
2000-01-06 -0.048577  0.077702
2000-01-07 -0.865238 -1.769961
2000-01-08 -0.444240 -0.837295

# The correct way is to use raw values

In [34]:
df.loc[:,['B', 'A']] = df[['A', 'B']].values

In [35]:
df[['A', 'B']]

                   A         B
2000-01-01 -1.571426  0.797301
2000-01-02 -1.808473  0.401077
2000-01-03  0.560986  0.793757
2000-01-04  0.136597 -0.675643
2000-01-05  0.968182  0.066774
2000-01-06  0.077702 -0.048577
2000-01-07 -1.769961 -0.865238
2000-01-08 -0.837295 -0.444240

# Attribute Access
-You may access an index on a Series, column on a DataFrame, and an item on a Panel directly as an attribute:

In [37]:
sa = pd.Series([1,2,3],index=list('abc'))

In [38]:
dfa = df.copy()

In [39]:
sa.b

2

In [40]:
dfa.A

2000-01-01   -1.571426
2000-01-02   -1.808473
2000-01-03    0.560986
2000-01-04    0.136597
2000-01-05    0.968182
2000-01-06    0.077702
2000-01-07   -1.769961
2000-01-08   -0.837295
Freq: D, Name: A, dtype: float64

In [41]:
panel.one

                   A         B         C         D
2000-01-01  0.797301 -1.571426  1.319039  0.848788
2000-01-02  0.401077 -1.808473 -0.693491 -1.815877
2000-01-03  0.793757  0.560986 -2.020554 -0.361142
2000-01-04 -0.675643  0.136597 -2.333492 -1.101483
2000-01-05  0.066774  0.968182 -1.500449  1.821056
2000-01-06 -0.048577  0.077702  0.414210  1.797009
2000-01-07 -0.865238 -1.769961 -0.240632 -0.695203
2000-01-08 -0.444240 -0.837295  0.147336 -0.460800

You can use attribute access to modify an existing element of a Series or column of a DataFrame, but be careful; if you try to use attribute access to create a new column, it fails silently, creating a new attribute rather than a new column.

In [42]:
sa.a = 5

In [43]:
sa

a    5
b    2
c    3
dtype: int64

In [44]:
dfa.A = list(range(len(dfa.index)))  # ok if A already exists

In [45]:
dfa

            A         B         C         D
2000-01-01  0  0.797301  1.319039  0.848788
2000-01-02  1  0.401077 -0.693491 -1.815877
2000-01-03  2  0.793757 -2.020554 -0.361142
2000-01-04  3 -0.675643 -2.333492 -1.101483
2000-01-05  4  0.066774 -1.500449  1.821056
2000-01-06  5 -0.048577  0.414210  1.797009
2000-01-07  6 -0.865238 -0.240632 -0.695203
2000-01-08  7 -0.444240  0.147336 -0.460800

In [46]:
dfa['A'] = list(range(len(dfa.index)))  # use this form to create a new c

In [47]:
dfa

            A         B         C         D
2000-01-01  0  0.797301  1.319039  0.848788
2000-01-02  1  0.401077 -0.693491 -1.815877
2000-01-03  2  0.793757 -2.020554 -0.361142
2000-01-04  3 -0.675643 -2.333492 -1.101483
2000-01-05  4  0.066774 -1.500449  1.821056
2000-01-06  5 -0.048577  0.414210  1.797009
2000-01-07  6 -0.865238 -0.240632 -0.695203
2000-01-08  7 -0.444240  0.147336 -0.460800

You can also assign a dict to a row of a DataFrame:

In [49]:
 x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})

In [50]:
x.iloc[1] = dict(x=9, y=99)

In [51]:
x

   x   y
0  1   3
1  9  99
2  3   5

# Slicing ranges¶
The most robust and consistent way of slicing ranges along arbitrary axes is described in the Selection by Position section detailing the .iloc method. For now, we explain the semantics of slicing using the [] operator.
With Series, the syntax works exactly as with an ndarray, returning a slice of the values and the corresponding labels:

In [52]:
s[:5]

2000-01-01   -1.571426
2000-01-02   -1.808473
2000-01-03    0.560986
2000-01-04    0.136597
2000-01-05    0.968182
Freq: D, Name: A, dtype: float64

In [53]:
s[::2]

2000-01-01   -1.571426
2000-01-03    0.560986
2000-01-05    0.968182
2000-01-07   -1.769961
Freq: 2D, Name: A, dtype: float64

In [54]:
s[::-1]

2000-01-08   -0.837295
2000-01-07   -1.769961
2000-01-06    0.077702
2000-01-05    0.968182
2000-01-04    0.136597
2000-01-03    0.560986
2000-01-02   -1.808473
2000-01-01   -1.571426
Freq: -1D, Name: A, dtype: float64

Note that setting works as well:

In [56]:
s2 = s.copy()

In [57]:
s2[:5] = 0

In [58]:
s2

2000-01-01    0.000000
2000-01-02    0.000000
2000-01-03    0.000000
2000-01-04    0.000000
2000-01-05    0.000000
2000-01-06    0.077702
2000-01-07   -1.769961
2000-01-08   -0.837295
Freq: D, Name: A, dtype: float64

With DataFrame, slicing inside of [] slices the rows. This is provided largely as a convenience since it is such a common operation.

In [59]:
df[:3]

                   A         B         C         D
2000-01-01 -1.571426  0.797301  1.319039  0.848788
2000-01-02 -1.808473  0.401077 -0.693491 -1.815877
2000-01-03  0.560986  0.793757 -2.020554 -0.361142

In [60]:
df[::-1]

                   A         B         C         D
2000-01-08 -0.837295 -0.444240  0.147336 -0.460800
2000-01-07 -1.769961 -0.865238 -0.240632 -0.695203
2000-01-06  0.077702 -0.048577  0.414210  1.797009
2000-01-05  0.968182  0.066774 -1.500449  1.821056
2000-01-04  0.136597 -0.675643 -2.333492 -1.101483
2000-01-03  0.560986  0.793757 -2.020554 -0.361142
2000-01-02 -1.808473  0.401077 -0.693491 -1.815877
2000-01-01 -1.571426  0.797301  1.319039  0.848788

# Selection By Label

In [62]:
dfl = pd.DataFrame(np.random.randn(5,4), columns=list('ABCD'), index=pd.date_range('20130101',periods=5))

In [63]:
dfl

                   A         B         C         D
2013-01-01 -0.172034 -0.728013 -0.577205  2.125140
2013-01-02 -0.843678  1.006610 -0.015750 -0.215016
2013-01-03 -0.045063 -0.374727  0.370499  0.312196
2013-01-04  0.286551 -1.971998  1.470746  0.283371
2013-01-05 -0.393061 -1.640415  1.285677  0.210777

In [65]:
dfl.loc[2:3]

TypeError: cannot do slice indexing on <class 'pandas.tseries.index.DatetimeIndex'> with these indexers [2] of <class 'int'>

String likes in slicing can be convertible to the type of the index and lead to natural slicing.

In [66]:
dfl.loc['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.843678  1.006610 -0.015750 -0.215016
2013-01-03 -0.045063 -0.374727  0.370499  0.312196
2013-01-04  0.286551 -1.971998  1.470746  0.283371

In [67]:
s1 = pd.Series(np.random.randn(6),index=list('abcdef'))

In [68]:
s1

a   -0.034862
b   -0.110549
c   -0.262253
d   -0.167540
e   -1.652098
f    0.876230
dtype: float64

In [69]:
s1.loc['c':]

c   -0.262253
d   -0.167540
e   -1.652098
f    0.876230
dtype: float64

In [70]:
s1.loc['b']

-0.11054909243647103

In [71]:
s1.loc['c':] = 0

In [72]:
s1

a   -0.034862
b   -0.110549
c    0.000000
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [73]:
df1 = pd.DataFrame(np.random.randn(6,4),
   index=list('abcdef'),
   columns=list('ABCD'))

In [74]:
df1

          A         B         C         D
a  1.345547 -1.301067  2.526428 -0.030239
b -1.818385  0.226898 -0.382795  0.991115
c -0.836665  2.455625  0.170280  0.430521
d  0.882807 -0.595342  0.303234 -1.674621
e -0.450321 -0.022331 -0.625363 -0.870750
f  0.051960  0.053782 -0.732624  0.006210

In [75]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  1.345547 -1.301067  2.526428 -0.030239
b -1.818385  0.226898 -0.382795  0.991115
d  0.882807 -0.595342  0.303234 -1.674621

Accessing via label slices

In [76]:
df1.loc['d':, 'A':'C']

          A         B         C
d  0.882807 -0.595342  0.303234
e -0.450321 -0.022331 -0.625363
f  0.051960  0.053782 -0.732624

In [77]:
df1.loc['a']

A    1.345547
B   -1.301067
C    2.526428
D   -0.030239
Name: a, dtype: float64

For getting values with a boolean array

In [78]:
df1.loc['a'] > 0

A     True
B    False
C     True
D    False
Name: a, dtype: bool

In [79]:
 df1.loc[:, df1.loc['a'] > 0]

          A         C
a  1.345547  2.526428
b -1.818385 -0.382795
c -0.836665  0.170280
d  0.882807  0.303234
e -0.450321 -0.625363
f  0.051960 -0.732624

For getting a value explicitly (equiv to deprecated df.get_value('a','A'))

In [81]:
# this is also equivalent to ``df1.at['a','A']``
In [55]: df1.loc['a', 'A']

1.3455467176246909

# Selection By Position

In [82]:
s1 = pd.Series(np.random.randn(5), index=list(range(0,10,2)))

In [83]:
s1

0    0.296830
2   -1.088829
4   -1.058376
6    0.796404
8   -0.073075
dtype: float64

In [84]:
s1.iloc[:3]

0    0.296830
2   -1.088829
4   -1.058376
dtype: float64

In [85]:
s1.iloc[3]

0.79640426887394666

In [86]:
s1.iloc[:3] = 0

In [87]:
s1

0    0.000000
2    0.000000
4    0.000000
6    0.796404
8   -0.073075
dtype: float64

With a DataFrame

In [88]:
df1 = pd.DataFrame(np.random.randn(6,4),
   index=list(range(0,12,2)),
   columns=list(range(0,8,2)))

In [89]:
df1

           0         2         4         6
0   0.019350 -1.587465  1.005115  1.464209
2   0.948525 -0.622752  1.288951 -0.015520
4  -1.565832  1.782383  0.158117  0.883554
6  -0.079378  0.594712 -0.685783 -1.243563
8   0.553708 -0.042148 -0.968792  1.695176
10 -0.151854  0.866183 -0.239485  0.047422

Select via integer slicing

In [90]:
df1.iloc[:3]

          0         2         4         6
0  0.019350 -1.587465  1.005115  1.464209
2  0.948525 -0.622752  1.288951 -0.015520
4 -1.565832  1.782383  0.158117  0.883554

In [91]:
df1.iloc[1:5, 2:4]

          4         6
2  1.288951 -0.015520
4  0.158117  0.883554
6 -0.685783 -1.243563
8 -0.968792  1.695176

Select via integer list

In [92]:
df1.iloc[[1, 3, 5], [1, 3]]

           2         6
2  -0.622752 -0.015520
6   0.594712 -1.243563
10  0.866183  0.047422

In [93]:
df1.iloc[1:3, :]

          0         2         4         6
2  0.948525 -0.622752  1.288951 -0.015520
4 -1.565832  1.782383  0.158117  0.883554

In [94]:
df1.iloc[:, 1:3]

           2         4
0  -1.587465  1.005115
2  -0.622752  1.288951
4   1.782383  0.158117
6   0.594712 -0.685783
8  -0.042148 -0.968792
10  0.866183 -0.239485

In [95]:
# this is also equivalent to ``df1.iat[1,1]``
df1.iloc[1, 1]

-0.62275165285090639

For getting a cross section using an integer position (equiv to df.xs(1))

In [96]:
df1.iloc[1]

0    0.948525
2   -0.622752
4    1.288951
6   -0.015520
Name: 2, dtype: float64

Out of range slice indexes are handled gracefully just as in Python/Numpy.

In [97]:
# these are allowed in python/numpy.
# Only works in Pandas starting from v0.14.0.
x = list('abcdef')

In [98]:
x

['a', 'b', 'c', 'd', 'e', 'f']

In [99]:
s = pd.Series(x)

In [100]:
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [101]:
s.iloc[4:10]

4    e
5    f
dtype: object

In [102]:
s.iloc[8:10]

Series([], dtype: object)

Note that this could result in an empty axis (e.g. an empty DataFrame being returned)

In [104]:
dfl = pd.DataFrame(np.random.randn(5,2), columns=list('AB'))

In [105]:
dfl

          A         B
0 -1.266323  0.168191
1 -0.169006 -0.784858
2 -0.191474  1.598087
3  1.354676 -0.525092
4 -0.264686  0.279780

In [106]:
dfl.iloc[:, 2:3]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [107]:
dfl.iloc[:, 1:3]

          B
0  0.168191
1 -0.784858
2  1.598087
3 -0.525092
4  0.279780

In [108]:
dfl.iloc[4:6]

          A        B
4 -0.264686  0.27978

A single indexer that is out of bounds will raise an IndexError. A list of indexers where any element is out of bounds will raise an IndexError

# Selection By Callable
New in version 0.18.1.
.loc, .iloc, .ix and also [] indexing can accept a callable as indexer. The callable must be a function with one argument (the calling Series, DataFrame or Panel) and that returns valid output for indexing.

In [109]:
df1 = pd.DataFrame(np.random.randn(6, 4),
   index=list('abcdef'),
   columns=list('ABCD'))

In [110]:
df1

          A         B         C         D
a -0.366059 -0.987101 -1.190935 -0.671343
b -0.332797 -2.051767  0.995133 -1.311346
c  0.617197  0.693254  0.852453  0.941215
d -0.690698  0.257627 -1.328729  0.355907
e  0.747648  0.069130 -0.191996  0.190595
f  0.560801 -0.770623  1.666416  1.730180

In [117]:
df1.loc[lambda df: df.A > 0, :]
#df1.loc[lambda df: df.A > 0, :]

          A         B         C         D
c  0.617197  0.693254  0.852453  0.941215
e  0.747648  0.069130 -0.191996  0.190595
f  0.560801 -0.770623  1.666416  1.730180

In [118]:
df1.loc[:, lambda df: ['A', 'B']]

          A         B
a -0.366059 -0.987101
b -0.332797 -2.051767
c  0.617197  0.693254
d -0.690698  0.257627
e  0.747648  0.069130
f  0.560801 -0.770623

In [119]:
df1.iloc[:, lambda df: [0, 1]]

          A         B
a -0.366059 -0.987101
b -0.332797 -2.051767
c  0.617197  0.693254
d -0.690698  0.257627
e  0.747648  0.069130
f  0.560801 -0.770623

In [120]:
df1[lambda df: df.columns[0]]

a   -0.366059
b   -0.332797
c    0.617197
d   -0.690698
e    0.747648
f    0.560801
Name: A, dtype: float64

You can use callable indexing in Series.

In [121]:
df1.A.loc[lambda s: s > 0]

c    0.617197
e    0.747648
f    0.560801
Name: A, dtype: float64

# Using these methods / indexers, you can chain data selection operations without using temporary variable.

In addition to that, MultiIndex allows selecting a separate level to use in the membership check:

In [123]:
s_mi = pd.Series(np.arange(6),
    index=pd.MultiIndex.from_product([[0, 1], ['a', 'b', 'c']]))

In [125]:
s_mi

0  a    0
   b    1
   c    2
1  a    3
   b    4
   c    5
dtype: int32

In [126]:
s_mi.iloc[s_mi.index.isin([(1, 'a'), (2, 'b'), (0, 'c')])]

0  c    2
1  a    3
dtype: int32

In [127]:
s_mi.iloc[s_mi.index.isin([(1, 'a')])]

1  a    3
dtype: int32

DataFrame also has an isin method. When calling isin, pass a set of values as either an array or dict. If values is an array, isin returns a DataFrame of booleans that is the same shape as the original DataFrame, with True wherever the element is in the sequence of values.

In [132]:
df = pd.DataFrame({'vals': [1, 2, 3, 4], 'ids': ['a', 'b', 'f', 'n'],
   'ids2': ['a', 'n', 'c', 'n']})

In [133]:
df

  ids ids2  vals
0   a    a     1
1   b    n     2
2   f    c     3
3   n    n     4

In [134]:
values = ['a', 'b', 1, 3]

In [135]:
df.isin(values)

     ids   ids2   vals
0   True   True   True
1   True  False  False
2  False  False   True
3  False  False  False

# MultiIndex query() Syntax

In [174]:
n = 10
colors = np.random.choice(['red', 'green'], size=n)
foods = np.random.choice(['eggs', 'ham'], size=n)
colors
foods


index = pd.MultiIndex.from_arrays([colors, foods], names=['color', 'food'])

df = pd.DataFrame(np.random.randn(n, 2), index=index)

b = df.query('food == "ham"')

In [175]:
b

                   0         1
color food
red   ham  -0.439655 -0.533521
green ham   1.691437  0.193485
      ham   0.658953 -0.489792
      ham  -1.938868  0.156783
      ham   2.003921 -0.946350
red   ham  -0.068877 -1.291576
      ham   1.621595  0.847923
green ham  -1.293124 -1.127212

## USE THIS FOR SCREENING

In [186]:
b = df.loc['red', 'ham']

C:\Users\Valued Customer\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  if __name__ == '__main__':

In [187]:
b

                   0         1
color food
red   ham  -0.439655 -0.533521
      ham  -0.068877 -1.291576
      ham   1.621595  0.847923